# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# Node (Frontend)
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# AI/DL Models
ai/models/*.h5
ai/models/*.pkl
ai/models/*.pt
ai/datasets/
ai/runs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
